<div class="container-main col-xs-18 col-sm-10 col-md-10" >
    <div class="loc">
      <p>
      Your current location is 
      <%= @user.curloc %>
      <%= link_to "(Wrong?)", root_path %>
      </p>
    </div>

   <p>Your reccomended place to go: <%= @place.loc %>, <%= @place.address %></p>
    

    <div class="container-filter col-xs-15 col-sm-6 col-md-10">
        <div class="col-md-2 col-sm-2 col-xs-2">
           <p>Find me a place to :</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
         <%= link_to "Feed me!", "FeedMe", :class => "btn btn-primary",:method => "put"%> <br>
         </div>
         <div class="col-md-2 col-sm-2 col-xs-2">
         <%= link_to "Grab a drink!", "Drink", :class => "btn btn-primary",:method => "put" %><br>
         </div>
         <div class="col-md-2 col-sm-2 col-xs-2">
         <%= link_to "Shop!", "Shop", :class => "btn btn-primary",:method => "put" %><br>
         </div>
         <div class="col-md-2 col-sm-2 col-xs-2">
         <%= link_to "See or do!", "SeeDo", :class => "btn btn-primary",:method => "put" %><br>
         </div>
         <div class="col-md-2 col-sm-2 col-xs-2">
         <%= link_to "Anything!!", "All",:class => "btn btn-primary", :method => "put" %><br>
         </div>
    </div>

 

    <div id="map-canvas" class = "col-xs-15 col-sm-6 col-md-10"> </div>

    <div class="container-btn col-xs-15 col-sm-6 col-md-10">
      <div class="col-md-3 col-sm-2 col-xs-2">
        <%= link_to "I hate this place", 'places/button_no', :class => "btn btn-primary", :method => "put" %> <br>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-2"> 
        <%= link_to "Looks pretty alright~", "places/button_yes", :class => "btn btn-primary", :method => "put" %> <br>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-2">
        <%= link_to "Find me "+"somewhere like this!", "places/button_random", :class => "btn btn-primary", :method => "put"%> <br>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-2">
        <%= link_to "Restart algorithm", "places/reset", :class => "btn btn-primary", :method => "put"%> <br>
      </div>
    </div>

</div>

    <!-- sidebar? -->
  <ul class="col-xs-3 col-md-2 sidebar">
    <li class="list-group-item">Title</li>
    <li class="list-group-item"> <%= @place.loc %></li>
    <li class="list-group-item"> <%= image_tag @place.img %> </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item"> <%= link_to @place.url, @place.url, :target => "_blank" %></li>
  </ul>